<div class="etapes-wrapper">
  <app-flash-message *ngIf="showFlash" [message]="flashMessage" [type]="flashType">
  </app-flash-message>
  <div class="etapes-grid">
    <mat-card class="etape-card" [attr.id]="'etape-' + etape.numero_relance" *ngFor="let etape of etapes">
      <mat-card-header>
        <div mat-card-avatar class="etape-icon">
          <mat-icon>notifications</mat-icon>
        </div>
        <mat-card-title>Rappel de paiement</mat-card-title>
        <mat-card-subtitle>Numéro : {{ etape.numero_relance }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Statut :</strong> {{ etape.statut_detail }}</p>
        <p><strong>Date création :</strong> {{ etape.date_creation_debut | date:'dd MMMM yyyy' }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button class="valider-btn" (click)="valider(etape)">
          <mat-icon>check_circle</mat-icon> Valider
        </button>
        <button mat-flat-button class="rejeter-btn" (click)="rejeter(etape)">
          <mat-icon>cancel</mat-icon> Rejeter
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
