<!-- 🟪 En-tête violette -->
<div class="relance-header mat-elevation-z4">
  <div class="relance-header-content">
    <!-- Gauche -->
    <div class="relance-left">
      <button mat-icon-button (click)="goBack.emit()" matTooltip="Retour">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="relance-info">
        <span><mat-icon id="sizefolder">folder</mat-icon> {{ relance?.ndr }}</span>
        <span><mat-icon>apartment</mat-icon> {{ relance?.client?.code_client }} - {{ relance?.client?.raison_sociale }}</span>
      </div>
    </div>

    <!-- Droite -->
    <div class="relance-right">
      <button mat-flat-button class="btn-light" (click)="history.emit()">
        <mat-icon>history</mat-icon> Historique des événements
      </button>
      <button mat-flat-button class="statut-button"
              [matMenuTriggerFor]="statutMenu"
              [ngStyle]="{ 'background-color': getStatutColor() }">
        <mat-icon>{{ getStatutIcon() }}</mat-icon> {{ relance?.libelle }}
      </button>

      <mat-menu #statutMenu="matMenu">
        <button mat-menu-item *ngFor="let s of getStatutsDisponibles()" (click)="emitStatutChange(s)">
          {{ s }}
        </button>
      </mat-menu>
    </div>
  </div>
</div>
