<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">Gestion Relance</span>
  <span class="spacer"></span>
  <span class="date-time">{{ currentDateTime }}</span>
  <span class="user-name">{{ authService.currentUserValue?.name || 'Utilisateur' }}</span>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isMenuOpen" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/clients">Clients</a>
      <a mat-list-item routerLink="/settings">Relances</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
